<section id="banner">
  <h1>Lista de Jogadores</h1>
  <p>FutAPP</p>
</section>
<section id="one" class="wrapper">
  <div class="inner">
    <h4>Lista de Jogadores</h4>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Pesquisa</span>
      </div>
      <input [(ngModel)]="searchText" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Foto</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Peso</th>
            <th>Clube</th>
            <th>        Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jogador of listaJogadores | filter : searchText">
            <td>{{jogador.id}}</td>
            <td><img src={{jogador.foto}} alt={{jogador.foto}} class="tamanho img-thumbnail"></td>
            <td>{{jogador.nome}}</td>
            <td>{{jogador.idade}}</td>
            <td>{{jogador.peso}}</td>
            <td>{{jogador.time}}</td>
            <td>{{jogador.fundacao}}</td>
            <td>
              <button (click)='excluir(jogador.id)'>Excluir</button>
              <button [routerLink]="['/jogador',jogador.id]">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button [routerLink]="['/jogador/0']">Novo Registro</button>
    </div>
  </div>
</section>

<div class="table-wrapper">
  <ng-template #customLoadingTemplate>
    <h3>
      Carregando...
    </h3>
  </ng-template>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>