<section id="banner">
  <h1>Lista de Organizadores</h1>
  <p>FutAPP</p>
</section>
<section id="one" class="wrapper">
  <div class="inner">
    <h4>Cadastro de Organizadores</h4>
    <div class="table-wrapper">
      <form [formGroup]="formulario" novalidate>
        <div class="row uniform">

          <div class="6u 12u$(xsmall)">
            <label for="">Nome</label>
            <input type="text" placeholder="Nome" formControlName="nome" />
          </div>

          <div class="6u 12u$(xsmall)">
            <label for="">Sede</label>
            <input type="text" placeholder="Sede" formControlName="sede" />
          </div>

          <div class="6u 12u$(xsmall)">
            <label for="">Presidente</label>
            <input type="text" placeholder="Presidente" formControlName="presidente" />
          </div>

          <div class="6u 12u$(xsmall)">
            <label for="">Data de Fundação</label>
            <input type="date" placeholder="Fundação" formControlName="fundacao" />
          </div>

          <div class="6u 12u$(xsmall)">
            <label for="">Logo</label>
            <input type="file" placeholder="Logo" formControlName="imagem" (change)="handleFileInput($event.target.files)" />
          </div>

          <div class="12u$">
            <ul class="actions">
              <li>
                <input type="button" value="Salvar" (click)="salvar(formulario)" [disabled]="!formulario.valid" />
              </li>
              <li>
                <input type="reset" value="Limpar" class="alt" />
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>