<section id="banner">
  <h1>Lista de Clubes</h1>
  <p>FutAPP</p>
</section>
<section id="one" class="wrapper">
  <div class="inner">
    <h4>Lista de Clubes</h4>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Pesquisa</span>
      </div>
      <input [(ngModel)]="searchText" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Escudo</th>
            <th>Nome</th>
            <th>Criação</th>
            <th>Pontuação</th>
            <th>Campeonato</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let clube of listaClubes | filter : searchText">
            <td>{{clube.id}}</td>
            <td><img src={{clube.escudo}} alt={{clube.escudo}} class="tamanho img-thumbnail"></td>
            <td>{{clube.nome}}</td>
            <td>{{clube.criacao}}</td>
            <td>{{clube.pontuacao}}</td>
            <td>{{clube.campeonato}}</td>
            <td>
              <button (click)='excluir(clube.id)'>Excluir</button>
              <button [routerLink]="['/clube',clube.id]">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button [routerLink]="['/clube/0']">Novo Registro</button>
    </div>
  </div>
</section>

<div class="table-wrapper">
    <ng-template #customLoadingTemplate>
      <h3>
        Carregando...
      </h3>
    </ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
  </div>