<section id="banner">
    <h1>Lista de Estrelas Próximas a Terra</h1>
    <p>Criado pela CC da IMED.</p>
  </section>
  <section id="one" class="wrapper">
    <div class="inner">
      <h4>Lista de Estrelas Conhecidas</h4>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Diâmetro (KM)</th>
              <th>Distância media ao Sol (KM)</th>
              <th>Massa do Planeta (Terra = 1)</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let planeta of listaPlanetas">
              <td>{{planeta.id}}</td>
              <td>{{planeta.nome}}</td>
              <td>{{planeta.diametro}}</td>
              <td>{{planeta.distancia}}</td>
              <td>{{planeta.massa}}</td>
              <td>
                <button (click)='excluir(planeta.id)'>Excluir</button>
                <button [routerLink]="['/planeta',planeta.id]">Editar</button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>{{listaPlanetas.length}}</td>
              <td colspan="2">Total de Panetas</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <h3> <a routerLink="/planeta/0"> Novo Registro</a></h3>
  </section>