<section id="banner">
  <h1>Lista de Organizadores</h1>
  <p>FutAPP</p>
</section>
<section id="one" class="wrapper">
  <div class="inner">
    <h4>Lista de Organizadores</h4>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Pesquisa</span>
      </div>
      <input [(ngModel)]="searchText" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="table-wrapper">
      
        <ng-template #customLoadingTemplate>
            <h3>
              Carregando...
            </h3>
          </ng-template>
          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
      
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Sede</th>
            <th>Presidente</th>
            <th>Ano de Fundação</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let organizador of listaOrganizadores | filter : searchText">
            <td>{{organizador.id}}</td>
            <td>{{organizador.nome}}</td>
            <td>{{organizador.sede}}</td>
            <td>{{organizador.presidente}}</td>
            <td>{{organizador.fundacao}}</td>
            <td>
              <button (click)='excluir(organizador.id)'>Excluir</button>
              <button [routerLink]="['/organizador',organizador.id]">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button [routerLink]="['/organizador/0']">Novo Registro</button>
    </div>
  </div>
</section>