<!-- Banner -->
<section id="banner">
  <h1>Bem Vindo ao FutAPP</h1>
  <p>Desenvolvido por Luiz Gustavo de Oliveira.</p>
</section>

<!-- One -->
<section id="one" class="wrapper">
  <div class="inner">
    <div class="flex flex-3">
      <article>
        <header>
          <h3>Clubes de Futebol</h3>
        </header>
        <p>Veja todos os clubes do Brasil e do mundo</p>
        <footer>
          <a routerLink="/clubes" class="button special">Mais</a>
        </footer>
      </article>
      <article>
        <header>
          <h3>Campeonatos</h3>
        </header>
        <p>Os campeonatos mais acirrados do Mundo</p>
        <footer>
          <a routerLink="/campeonatos" class="button special">Mais</a>
        </footer>
      </article>
      <article>
        <header>
          <h3>Jogadores</h3>
        </header>
        <p>Dos melhores ao piores jogadores</p>
        <footer>
          <a routerLink="/jogadores" class="button special">Mais</a>
        </footer>
      </article>
    </div>
  </div>
</section>
