<header id="header">
    <div class="inner">
      <a routerLink="/home"  class="logo">Theory</a>
      <nav id="nav">
        <a routerLink="/home" >Home</a>
        <a routerLink="/organizadores">Organizadores</a>
        <a routerLink="/campeonatos">Campeonatos</a>
        <a routerLink="/planetas">Planetas</a>
        <a href="elements.html">Elements</a>
        <a routerLink="/contato">Contato</a>
      </nav>
      <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
  </header> 